if pageTitle == "HOME" 
    .footer_container
        .footer_box
            i.fab.fa-youtube
            span &copy Wetube
else
    .footer_container_white
        .footer_box
            i.fab.fa-youtube
            span &copy Wetube