.videoBlock{
    a{  
        text-decoration: none;
        video{
            width: 100%;
            margin-bottom: 10px;
        }
        span{
            display: block;
            text-decoration: none;
            color: white;
            font-size: 17px;
        }
        .video_description{
            margin-top: 10px;
            font-size: 13px;
            color: #AAAAAA;
        }
    }
}