extends layout/main 

block content 
    .form_wrapper
        .form_box
            .form_text 
                span Change Password
            form.form_main(action=`${routes.user}${routes.changePassword(user.id)}`,method='post') 
                input(type="text", placeholder="oldPassword", name="oldPassword")
                input(type="text", placeholder="newPassword", name="newPassword")
                input(type="text", placeholder="check newPassword", name="checknewPassword")
                input(type="submit")