extends layout/main

block content
    .form_wrapper
        .form_box
            .form_text 
                span Join Page
            form.form_main(action=routes.join,method="post")
                input(type="text",name="username",placeholder="username")
                input(type="text",name="email",placeholder="email") 
                input(type="password",name="password",placeholder="password") 
                input(type="password",name="password2",placeholder="password2") 
                input(type="submit",value="Join") 
