extends layout/main

block content 
     .form_wrapper
        .form_box
            .form_text 
                span Edit Profile
            form.form_main(action=`${routes.user}${routes.userEdit(user.id)}`, method ="post", enctype="multipart/form-data")
                label 파일선택
                    input(type="file",name="avatarFile", accept="image/*",onchange=`javascript:document.getElementById("file_text").value=this.value`)
                input(type="text",id="file_text",readonly="readonly")
                input(type="text", name="username", placeholder="Username",value=user.name) 
                input(type="submit" value="Edit") 