extends layout/main 

block content 
    .form_wrapper
            .form_box 
                .form_text     
                    span videoEdit
                form.form_main(action=`/video${routes.videoEdit(video.id)}`, method ="post")
                    input(type="text", name="title", value=video.title)
                    input(type="text", name="description", value=video.description) 
                    input(type="submit", value="UPLOAD") 
                form.form_main(action=`/video${routes.videoDelete(video.id)}`,method="post")
                    input.button(type="submit" value="Delete")